<div class="col-lg6">
  <h1>{{title}}</h1>
  <form action="">
    <p>
      <label>Nombre</label>
      <input type="text" name="name" class="form-control" required>
    </p>
    <p>
      <label>Apellidos</label>
      <input type="text" name="name" class="form-control" required>
    </p>
    <p>
      <label>Correo Electronico</label>
      <input type="email" name="email" class="form-control" required>
    </p>
    <p>
      <label>Contrasena</label>
      <input type="password" name="password" class="form-control" required>
    </p>
    <input type="submit" value="{{title}}" class="btn btn-primary">
  </form>
</div>
