<div class="col-lg-8 col-lg-offset-2" [@fadeIn]>
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Disfruta de los animales mas exoticos de nuestro zoologico :)</p>
    <p>
      <a role="button" class="btn btn-primary btn-lg" routerLink="/animales">
        Ver Animales
      </a>
      <a role="button" class="btn btn-success btn-lg" routerLink="/cuidadores">
        Ver Cuidadores
      </a>
      <a role="button" class="btn btn-warning btn-lg" routerLink="/contacto">
        Contacta con nosotros
      </a>
    </p>
  </div>
</div>

<div class="clearfix"></div>


