.navigation.col-lg-11{
  margin-top: 10px;
}
.jumbotron{
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #ccc;
}
.navbar-nav .active{
  border-bottom: 3px solid orange;
}
.navbar-nav>li>a:hover{
  border-bottom: 3px solid orange;
  transition: all 300ms;
}
.boton_transiciones{
  padding:10px;
  background: red;
  color: white;
  border-radius: 20px;
  border:4px solid blue;
  transition: border 1s, border-radius 500ms, background 5s;

}
.boton_transiciones:hover{
  text-decoration: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  background: #CCCCCC;
  border:1px solid red;
}
